@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #333333;
  --clr-white: #fff;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #fff;
  font-family: font-family: 'Roboto', sans-serif;;
  }

.header{
  padding: 1rem 2rem;
  background-image :
    url(../images/hero-bg.jpg); 
  height: 90vh;
  width: 100wh;
}

  .menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-container{
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .title-1,2{
  font-weight: 900;
  font-size: 0px;
  
  }

  .title{
    font-weight: 900;
    font-size: 80px;
    text-align: center;
  }
  
  .title-2{
    font-weight: 900;
    font-size: 80px;
  }

  .subscription{
    font-size: 25px;
    font-weight: 700;
  }

  .co-title{
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin: 2rem;
  }

  .input{
    margin: 3rem;
    height: 50px;
    width: 400px;
    border: 12px solid #fff;
    border-radius: 8px;
  }

